<div id="main-page-img">
    <h3>Enjoy Movies Online @ {{title}}</h3>
</div>

<br>

<div id="all-movies" class="card">
  <div class="card-header text-white" style="border-color:aliceblue;">
    <strong>Movies avaliable in 2021</strong>
  </div>
  <div class="card-body">
    <div class="row">

      {{!-- Movies in cards --}}
      {{#each movies}}
      <div class="col-sm-2 text-center">
        <div class="card">
            <img src="{{posterURL}}" class="card-img-top movieImg" alt="movie">
            <h6 class="card-title">{{title}}</h6>
            <p class="card-text" style="font-size: 12px;">{{description}}</p>
            <p class="card-text movie-price" style="font-size: 12px;">$ {{ticketPrice}}</p>
            <a href="/showtrailer/{{id}}" class="btn btn-outline-danger btn-sm TrailerBtn">
              <img src="/img/PlayIcon.png" style="border-radius: 50%;height: 23px; width: 23px;" alt="Trailer">
            </a>

            <form action="/" method="post">            
              <input type="hidden" value="{{title}}" name="ticketTitle" readonly>         
              <input type="hidden" value="{{ticketPrice}}" name="ticketPrice" readonly>
              <input type="hidden" value="{{posterURL}}" name="MovieImgURL" readonly>
              <button class="PayBtn btn btn-outline-success btn-sm" type="submit">Add</button>
            </form>
        </div>
      </div>
      {{/each}}
      
    </div>
    </div>
    {{#if movies}}
      <center><p class="text-white">~~ Enjoy ~~</p></center>
    {{else}}
      <center><p class="text-white">~~ Sorry! No Movie Avaliable ~~</p></center>
    {{/if}}
  </div>
<br>
