 <div class="card bg-light" style="box-shadow: 0.3px 0.3px #888888;">
  <div class="card card-header bg-white">
    <div class="container">
    <div class="row">
      <img src="/img/visaMasterCard.png" class="d-flex justify-content-start" alt="card" style="width: 3em;height:3em;padding: 3px;">
      <span class="text-center" style="font-size: 1.4em;margin:0 auto;"><strong>Pay using Debit / Credit card</strong></span>
    </div>
  </div>

  </div>
  <br>
{{!-- enter Card details --}}
<div class="container">
<div class="row justify-content-md-around">
<div class="col-12 col-md-7">
  <h5 class="card card-header text-center text-white" style="background-color:rgb(49, 202, 158)">Please enter your card details</h5>
<div class="card card-body" style="box-shadow: 0.3px 0.3px #888888;">

  	<form action="/payments/creditpays" method="post">
				<div class="form-group mx-sm-4">
					<label for="cardNumber">Card Number:</label>
					<input type="text" class="form-control" name="cardNumber" required>
				</div>
        <div class="d-flex justify-content-between">
          <div class="form-group mx-sm-4">
            <label for="expiryDate">Expiration Date:</label>
            <input id="datepicker" name="expiryDate" readonly />
          </div>
          <div class="form-group mx-sm-4">
            <label for="cvv">CVV:</label>
            <input type="number" class="form-control" name="cvv" required>
          </div>
        </div>
				<div class="form-group mx-sm-4">
					<label for="cardHolder">Cardholder's Name:</label>
					<input type="text" name="cardHolder" class="form-control" required>
				</div>
        <hr class="mx-sm-4">
        <div class="d-flex justify-content-between mx-sm-4">
          {{#if cartitem}}
            <a href="/payments/removeifCancel/{{payhistory.id}}" class="btn btn-outline-secondary btn-sm">Cancel</a>
          {{/if}}
          <button class="btn btn-success btn-sm" type="submit">Pay</button>
        </div>
			</form>
      
</div>
</div>
{{!-- display items in cart --}}
<div class="col-6 col-md-4">
  <div class="card card-body" style="box-shadow: 0.3px 0.3px #888888;">
      <div>
        <div class="d-flex justify-content-between" style="color:rgb(49, 202, 158)"><h6>Movie:</h6><h6>Tickets:</h6><h6>Total Price:</h6></div>
        <hr>
        {{#if cartitem}}
          <div class="d-flex justify-content-between"><span>{{payhistory.ticketTitle}}</span><span>{{payhistory.ticketNumber}}</span><span>{{totalPrice}}</span></div>
        {{/if}}

        <hr>
        <div class="d-flex justify-content-between"><h6>Total Price:</h6><h5>S$<span style="color: red; ">{{totalPrice}}</span></h5></div>
      </div>
    </div>
</div>
</div>
<br>
</div>
<br>
</div>

{{!-- Javascript --}}
<script>
	$('#datepicker').datepicker({
		format: 'dd/mm/yyyy',
		value: new Date().toLocaleDateString('EN-SG'),
		uiLibrary: 'bootstrap4',
	});
</script>

